.aPropos {
  padding: 0 1rem;

  @media screen and(max-width: 500px) {
    padding: 0;
  }

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contentA-Propos {
    max-width: 1024px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
  }

  .hero {
    height: 225px;

    .heroBG,
    .maskBG {
      height: 225px;
      width: 100%;
    }
  }
}