.TagName {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  p {
    background: $color-1;
    font-size: 14px;
    margin: 5px 15px 5px 0px;
    padding: 2px 15px;
    color: $white;
    border-radius: 10px;
  }
}